<h1>ABBA</h1>

<p>
  ABBA jest w czołówce zespołów, których płyty
  najlepiej się sprzedają. W sumie sprzedali około 370
  milionów egzemplarzy. Średnio sprzedają od 2 do 4 milionów płyt
  rocznie.
</p>  

<table>
  <colgroup>
    <col class="title">
    <col class="year">
  </colgroup>
  <thead>
    <tr>
      <td>album</td><td>rok wydania</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ring Ring</td><td>1973</td>
    </tr>
    <tr>
      <td>Waterloo</td><td>1974</td>
    </tr>
    <tr>
      <td>ABBA</td><td>1975</td>
    </tr>
    <tr>
      <td>Arrival</td><td>1976</td>
    </tr>
    <tr>
      <td>The Album</td><td>1977</td>
    </tr>
    <tr>
      <td>Voulez-Vous</td><td>1979</td>
    </tr>
    <tr>
      <td>Super Trouper</td><td>1980</td>
    </tr>
    <tr>
      <td>The Visitors</td><td>1981</td>
    </tr>
  </tbody>
</table>

<p class="description">
  Tekst piosenki <em>I have a dream</em>
  z albumu <em>Voulez-Vous</em>.
</p>

<div class="poem">
<div class="stanza">I have a dream, a song to sing
To help me cope with anything
If you see the wonder of a fairy tale
You can take the future even if you fail
I believe in angels
Something good in everything I see
I believe in angels
When I know the time is right for me
I'll cross the stream - I have a dream
</div>
<div class="stanza">I have a dream, a fantasy
To help me through reality
And my destination makes it worth the while
Pushing through the darkness still another mile
I believe in angels
Something good in everything I see
I believe in angels
When I know the time is right for me
I'll cross the stream - I have a dream
I'll cross the stream - I have a dream
</div>
<div class="stanza">I have a dream, a song to sing
To help me cope with anything
If you see the wonder of a fairy tale
You can take the future even if you fail
I believe in angels
Something good in everything I see
I believe in angels
When I know the time is right for me
I'll cross the stream - I have a dream
I'll cross the stream - I have a dream
</div>
</div>
