<h1>Fortune</h1>

<div id="fortune">
  <div id="love">Love</div>
  <div id="linux">Linux</div>
  <div id="asciiart">Ascii-Art</div>
  <div id="pets">Pets</div>
</div>

<form id="select" action="javascript:void(0)" method="post">
  <p>
    <input type="text" size="4" name="num" id="num" value="1">
    <input type="submit" name="show" id="show" value="Show Ascii Art">
  </p>
</form>

<div id="content">
  <!-- http://www.ajaxload.info/ -->
  <img id="throbber" src="/images/ajax-loader.gif" />
</div>
