<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href='stylesheets/application.css' type="text/css" media="screen" charset="utf-8">
    <link href='stylesheets/screen.css' rel='stylesheet' type='text/css' />
    <link href='stylesheets/application.css' rel='stylesheet' type='text/css' />

    <script src='javascripts/jquery.js' type="text/javascript" charset="utf-8"></script>
    <script src='javascripts/application.js' type="text/javascript" charset="utf-8"></script>
    
    <title>Techniki internetowe</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
