<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {%= stylesheet_link_tag "/stylesheets/screen.css", "/stylesheets/coderay.css", "/stylesheets/application.css" %}

    <script src='/javascripts/jquery.js' type="text/javascript" charset="utf-8"></script>
    <script src='/javascripts/application.js' type="text/javascript" charset="utf-8"></script>

    <title>Techniki internetowe</title>
  </head>
  <body>
    <h1 class="header">
      {%= @title %}
    </h1>
    {%= yield %}
  </body>
</html>
