<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/examples/javascript/jquery.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/examples/javascript/<%= @example %>.css" 
          type="text/css" media="screen" charset="utf-8">

    <script src="/javascripts/jquery.js" 
            type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.tablesorter.js" 
            type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/examples/javascript/<%= @example %>.js" 
            type="text/javascript" charset="utf-8"></script>
    
    <title>Techniki internetowe</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
