<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/stylesheets/examples/css/projection.css" 
          title="domyślny"
          media="screen, projection" 
          rel="Stylesheet" 
          type="text/css"
          charset="utf-8">
    <title>Jakiś tytuł</title>
  </head>
  <body>
    <h1>Media projekcyjne</h1>

    <h2>Oczywiste prawdy</h2>
    <ul>
    <li>0 = 0</li>
    <li>0 != 1</li>
    <li>2 + 2 = 4</li>
    </ul>

    <h2>Nieoczywiste prawdy</h2>
    <ul>
    <li>informatyka jest fajna</li>
    <li>programowanie is awesome</li>
    <li>programowanie w Rubim, to bułka z masłem</li>
    </ul>
  </body>
</html>
